# Normal boot option
LABEL arch
TEXT HELP
Boot the StormOS XFCE Linux install medium on BIOS.
It allows you to install StormOS XFCE Linux or perform system maintenance.
ENDTEXT
MENU LABEL StormOS XFCE Linux install medium (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=4G copytoram=n radeon.modeset=1 i915.modeset=1 nvme_load=yes

# NVIDIA drivers boot option
LABEL archnvidia
TEXT HELP
Boot the StormOS XFCE Linux install medium on BIOS with NVIDIA proprietary drivers.
It allows you to install StormOS XFCE Linux or perform system maintenance with NVIDIA drivers.
ENDTEXT
MENU LABEL StormOS XFCE Linux install medium with NVIDIA drivers (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=4G copytoram=n nvidia-drm.modeset=1 nvme_load=yes modprobe.blacklist=nouveau

# Nomodeset boot option
LABEL archnomodeset
TEXT HELP
Boot the StormOS XFCE Linux install medium on BIOS with nomodeset.
It allows you to install StormOS XFCE Linux or perform system maintenance with nomodeset.
ENDTEXT
MENU LABEL StormOS XFCE Linux install medium (%ARCH%, BIOS) with nomodeset
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=4G copytoram=n nomodeset radeon.modeset=0 i915.modeset=0 nvme_load=yes modprobe.blacklist=nouveau

# NVIDIA drivers nomodeset boot option
LABEL archnvidianomodeset
TEXT HELP
Boot the StormOS XFCE Linux install medium on BIOS with NVIDIA proprietary drivers and nomodeset.
It allows you to install StormOS XFCE Linux or perform system maintenance with NVIDIA drivers and nomodeset.
ENDTEXT
MENU LABEL StormOS XFCE Linux install medium with NVIDIA drivers (nomodeset) (%ARCH%, BIOS)
LINUX /%INSTALL_DIR%/boot/%ARCH%/vmlinuz-linux
INITRD /%INSTALL_DIR%/boot/%ARCH%/initramfs-linux.img
APPEND archisobasedir=%INSTALL_DIR% archisosearchuuid=%ARCHISO_UUID% cow_spacesize=4G copytoram=n nomodeset nvidia-drm.modeset=0 nvme_load=yes modprobe.blacklist=nouveau

