# StormOS GTK2 theme overrides
# Matches Arc-BLACK-ICE dark theme with StormOS blue accents

style "stormos-default" {
    bg[NORMAL] = "#0A1628"
    bg[PRELIGHT] = "#142A42"
    bg[SELECTED] = "#19A9FF"
    bg[INSENSITIVE] = "#0D1A2E"
    fg[NORMAL] = "#E8F2FF"
    fg[PRELIGHT] = "#E8F2FF"
    fg[SELECTED] = "#FFFFFF"
    fg[INSENSITIVE] = "#4B5563"
    text[NORMAL] = "#E8F2FF"
    text[PRELIGHT] = "#E8F2FF"
    text[SELECTED] = "#FFFFFF"
    text[INSENSITIVE] = "#4B5563"
    base[NORMAL] = "#0A1628"
    base[PRELIGHT] = "#142A42"
    base[SELECTED] = "#19A9FF"
    base[INSENSITIVE] = "#0D1A2E"
    engine "murrine" {
        animation           = TRUE
        arrowstyle          = 2
        border_shades       = { 0.8, 0.6 }
        cellstyle           = 0
        colorize_scrollbar  = FALSE
        comboboxstyle       = 0
        contrast            = 0.4
        default_button_color= "#19A9FF"
        focus_color         = "#19A9FF"
        focusstyle          = 3
        glazestyle          = 0
        glow_shade          = 1.0
        glowstyle           = 0
        gradient_shades     = { 1.0, 1.0, 1.0, 1.0 }
        handlestyle          = 0
        highlight_shade     = 1.0
        lightborder_shade   = 1.0
        lightborderstyle    = 0
        listviewheaderstyle = 0
        listviewstyle       = 2
        menubaritemstyle    = 0
        menubarstyle        = 0
        menuitemstyle       = 0
        menustyle           = 0
        progressbarstyle    = 0
        reliefstyle         = 2
        rgba                = TRUE
        roundness           = 4
        scrollbarstyle      = 0
        separatorstyle      = 1
        shadow_shades       = { 0.0, 0.0 }
        sliderstyle         = 0
        stepperstyle        = 1
        textstyle           = 0
        toolbarstyle        = 2
        trough_shades       = { 0.85, 0.9 }
    }
}

class "GtkWidget" style "stormos-default"
class "GtkButton" style "stormos-default"
class "GtkEntry" style "stormos-default"
class "GtkTreeView" style "stormos-default"
class "GtkTreeView.Header" style "stormos-default"
class "GtkList" style "stormos-default"
class "GtkListItem" style "stormos-default"
class "GtkMenu" style "stormos-default"
class "GtkMenuBar" style "stormos-default"
class "GtkMenuItem" style "stormos-default"
class "GtkNotebook" style "stormos-default"
class "GtkNotebook.Tab" style "stormos-default"
class "GtkPaned" style "stormos-default"
class "GtkRange" style "stormos-default"
class "GtkScale" style "stormos-default"
class "GtkScrollbar" style "stormos-default"
class "GtkScrolledWindow" style "stormos-default"
class "GtkSeparator" style "stormos-default"
class "GtkSpinButton" style "stormos-default"
class "GtkStatusBar" style "stormos-default"
class "GtkToolbar" style "stormos-default"
class "GtkToolItem" style "stormos-default"
class "GtkTreeView" style "stormos-default"
