[Desktop Entry]
Version=1.0
Type=Application
Name=Install StormOS-CLI
Comment=
Exec=sudo /usr/share/stormos/install.sh
Icon=/usr/share/pixmaps/stormos/menubutton.png
Path=
Terminal=true
StartupNotify=false
