#!/usr/bin/env xdg-open
[Desktop Entry]
Name=OnlyOffice
GenericName=OnlyOffice
X-GNOME-FullName=OnlyOffice
Comment=OnlyOffice
Exec=/usr/local/bin/Onlyoffice.AppImage
Icon=/usr/share/icons/storm os.png
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=;
StartupNotify=false
Path=
