[Desktop Entry]
Name=StormOS Installer
GenericName=Installer
Comment=Install StormOS to your disk
Exec=xfce4-terminal --hold -T "StormOS Installer" -e "sudo stormos-installer"
Icon=system-software-install
Terminal=false
Type=Application
Categories=System;Utility;Installer;
StartupNotify=true
