#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Vivaldi Browser
GenericName=Vivaldi Browser
X-GNOME-FullName=Vivaldi Browser
Comment=Vivaldi Browser
Exec=/usr/local/bin/vivaldi.AppImage
Icon=/usr/share/icons/storm os.png
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=browser;
StartupNotify=false
Path=
