[Desktop Entry]
Version=1.0
Type=Application
Name=menux
Comment=StormOS user functions
Exec=/usr/bin/menuxstorm
Icon=/usr/share/pixmaps/stormos/STORM-MENU.png
Path=
Terminal=true
StartupNotify=false
