[Desktop Entry]
Name=Storm Welcome
Comment=Get started with StormOS — Arch made easy
Exec=stormos-welcome
Icon=system-software-install
Terminal=false
Type=Application
Categories=System
