# StormOS GTK2 Theme — Application-specific Rules

style "gnome_panel" = "default" {
    bg[NORMAL] = @bg_color
    fg[NORMAL] = @fg_color
}

widget "PanelWidget*" style "gnome_panel"
widget "PanelApplet*" style "gnome_panel"
widget "fast_user_switch*" style "gnome_panel"

style "xfce_panel" = "default" {
    bg[NORMAL] = @bg_color
    bg[PRELIGHT] = shade(1.05, @bg_color)
    fg[NORMAL] = @fg_color
    fg[PRELIGHT] = @fg_color
}

widget "*.XfceNotify*" style "base"
widget "*PanelApplet*" style "xfce_panel"
widget "*fast_user_switch*" style "xfce_panel"
