[Desktop Entry]
Type=Application
Name=StormD GPU Switcher
Comment=System tray applet for GPU switching
Exec=/usr/local/bin/switcheroo-applet
Icon=switcheroo
Terminal=false
Categories=System;
