[Desktop Entry]
Type=Application
Name=Conky System Monitor
Comment=StormOS system overview sidebar
Exec=conky -c /home/$USER/.config/conky/conky.conf
Hidden=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
X-XFCE-Autostart-Override=true
