[Desktop Entry]
Type=Application
Exec=xfce4-panel --quit
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=xquit  Desktop Launchers
Icon=
Comment=
Path=
Terminal=false
StartupNotify=false
