[Desktop Entry]
Type=Application
Exec=hyper2
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=Hyper2  Desktop Launchers
Icon=
Comment=
Path=
Terminal=false
StartupNotify=false
