#!/usr/bin/env xdg-open
[Desktop Entry]
Name=StormOS Remove Compiz
GenericName=StormOS Remove Compiz
X-GNOME-FullName=StormOS Remove Compiz
Comment=Remove compiz with ease (optional)
Exec=/usr/local/bin/compiz-remove.sh
Icon=/usr/share/icons/storm os.png
Terminal=false
Type=Application
Categories=GTK;GNOME;Utility;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=tweak;tool;
StartupNotify=false
Path=
