[Desktop Entry]
Type=Application
Name=StormOS Conky
Comment=System overview panel
Exec=conky -c /home/$USER/.config/conky/conky.conf
Terminal=false
X-GNOME-Autostart-enabled=true
X-XFCE-Autostart-Override=true
Hidden=false
NoDisplay=false
