[Desktop Entry]
Type=Application
Name=StormOS Welcome
Comment=StormOS welcome screen
Exec=stormos-welcome
Icon=stormos-welcome
Terminal=false
Categories=System;
X-GNOME-Autostart-enabled=true
