[Desktop Entry]
Type=Application
Version=1.0
Name=Install StormOS
GenericName=Live Installer (Calamares)
Comment=Install the operating system to disk
Exec=sh -c "pkexec calamares"
Icon=/usr/share/pixmaps/stormos/menubutton.png
Terminal=false
StartupNotify=true
Categories=Qt;System;Desktop
